// Place all the styles related to the ajax controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	//font-size: 20pt;
	//color: #999;
	font-size:120%; /*フォントサイズの調整*/
    color:#313131; /*文字色の変更*/
    padding-top: 10px; /*文字上部に余白*/
    padding-bottom: 10px; /*文字下部に余白*/
    padding-left: 20px; /*文字左側に余白*/
    padding-right: 20px; /*文字右側に余白*/
    border:1px solid #313131; /*文字の周りに線を描く*/
    border-radius: 5px; /*線の角に丸みを付ける*/
    letter-spacing: 3px; /*文字と文字の間隔をあける*/
	font-weight:400; /*文字の太さの変更*/
	display:inline-block;
}

footer{
    font-size: 80%; /*フォントサイズの指定*/
    width: 100%;    /*横幅の指定*/
    text-align: center; /*文字の中央寄せ*/
    padding-top: 10px;  /*文字上部の余白指定*/
    padding-bottom: 10px;   /*文字下部の余白指定*/
    background-color: #313131;  /*背景色の指定*/
}
footer address{
    color: #fff;    /*文字色の指定*/
    letter-spacing: 5px;    /*文字と文字の間隔をあける*/
}


.form {
	margin: 50px 0px;
}


.form tr td {
	color: #999;
	padding: 0px 10px;
	font-size: 14pt;
}


th {
	background-color: #999;
	color: #eee;
	font-size: 14pt;
	padding: 2px;
}


.dengon tr td {
	background-color: #eee;
	color: #666;
	padding: 10px 5px;
}


td.msg {
	font-size:12pt;
}
td.name {
	font-size:12pt;
}
td.mail {
	font-size:12pt;
}
td.time {
	font-size:9pt;
}


div.footer {
	border-style:solid;
	border-width: 1px 0px 0px 0px;
	border-color: #999;
	margin: 50px 0px 0px 0px;
	padding: 3px 0px 0px 0px;
	//font-color: #999;
	font-size: 12pt;
	text-align:right;
	font-size:9pt;
}
#mynetwork {
	width: 900px;
	height: 900px;
	border: 1px solid lightgray;
}
#loadingBar {
	position:absolute;
	top:0px;
	left:0px;
	width: 902px;
	height: 902px;
	background-color:rgba(200,200,200,0.8);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	opacity:1;
}
#wrapper {
	position:relative;
	width:900px;//900px
	height:900px;
}

#text {
	position:absolute;
	top:8px;
	left:530px;
	width:30px;
	height:50px;
	margin:auto auto auto auto;
	font-size:22px;
	color: #000000;
}


div.outerBorder {
	position:relative;
	top:400px;
	width:600px;
	height:44px;
	margin:auto auto auto auto;
	border:8px solid rgba(0,0,0,0.1);
	background: rgb(252,252,252); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border-radius:72px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

#border {
	position:absolute;
	top:10px;
	left:10px;
	width:500px;
	height:23px;
	margin:auto auto auto auto;
	box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
	border-radius:10px;
}

#bar {
	position:absolute;
	top:0px;
	left:0px;
	width:20px;
	height:20px;
	margin:auto auto auto auto;
	border-radius:11px;
	border:2px solid rgba(30,30,30,0.05);
	background: rgb(0, 173, 246); /* Old browsers */
	box-shadow: 2px 0px 4px rgba(0,0,0,0.4);
}
